.box {
  height: 150px;
  width: 150px;
  margin: 15px;
  border-radius: 15%;
  border-width: 5px;
  border-style: solid;
  border-color: #205295;
  background-color: #144272;
}

.mute {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  border-width: 2px;
  border-style: solid;
  border-color: #3282B8;
  margin-right: 5%;
  align-items: center;
}

.red {background-color: red;}
.green {background-color: green;}

.main {
  padding: 2.5%;
  align-self: center;
  background-color: #0A2647;
  margin: auto;
}

#promt {
  font-family: 'Press Start 2P', cursive;
  color: #3282B8;
}

.pressed {
  box-shadow: 0 0 50px white;
  background-color: #2C74B3;
}

.new_pressed {
  box-shadow: 0 0 50px white;
  background-color: red;
}

.cen {
  justify-content: center;
}


